.container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--hover);
    border-radius: 10px;
    width: max-content;
}

.input {
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--textSoft);
}

.input::placeholder {
    color: #E5E4E2;
}